a{
  color: var(--feature);
}
a:hover{
  color: var(--feature);
}
strong{
  font-weight: 600;
  color: #2e2e2e;
}
#product-description{
 margin-top: 20px;
  font-size: 18px!important;
  width: 85%;

}
.painterImage{
    height: 500px;
    transform: scale(1);
    margin-top: -100px;
  }
  @media(min-width: 992px){
    .painterImage{
      margin-top: -20px;
      transform: scale(1.4);
    }
  }

  .painterImageContainer{
    display: flex;
    justify-content: center;
    margin-top: -40px;
  }
.feature-color{
    color: var(--feature)!important;
}
.logo{
    font-family: 'Playfair Display'!important;
    font-size: 17px!important;
    
}
.logo img{
  transform: scale(1.4);
  padding-left: 15px;
}
.custom-button{
  color: var(--feature);
  border: 1px solid var(--feature);
}
.custom-button:hover{
  color: white;
  background: var(--feature);
}

.service-img{
  height: 300px;
  width: 100%;
}
.hamilton-leftCircle{
  width: 200px;
  padding-bottom: 20px;
  margin-top: -15px;

}
.logo img{
  margin-left: 12px;
}

.bottom-header{
  padding: 20px 12px;
}
.bottom-header img{
  transform: scale(1.2);
  margin-left: 0;

}
/* ----------  header contact  */
.header-phone{
  align-items: center;
  background:  white!important;
}
.header-phone .container{
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.144); */
  padding: 1px 12px;
  color: white;
}
.header-phone{
 

  
}
.header-phone i{
  padding-right: 10px;
  color: black;
 
}
.phone-number{
  opacity: 1;
  font-size: 16px;
  font-weight: 500;
  color: black;
}


.call{
  font-style: italic!important;
  color: var(--feature);
  font-weight: bold;
}

.contact-breadcrumbs{
  margin-top: 110px;
}

.subscribe{
  background: var(--feature)!important;
}

/* ------------  */

#modal{
  display: block;
  position: fixed;
  top: 50%;
  left:50%;
  /* height: 80vh; */
  width: 50vw;
  transform: translateY(-50%) translateX(-50%);
  z-index: 100000;
  background: white;
  outline: 1000px solid rgba(0, 0, 0, 0.76);
  padding: 50px;
  
}
.modal-btn{
  margin-left: 22px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: var(--feature);
  /* border: 2px solid var(--feature); */
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  box-shadow: 5px 5px 10px rgba(0,0,0,.2);
  border: none;
  margin-top: 20px;
}

.close-FQ{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.FQ{
  cursor: pointer;
}

